<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <!--设置首页-->
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <!--配置总控制器-->
  <servlet>
    <servlet-name>DispacherServlet</servlet-name>
    <servlet-class>com.itheima.framework.DispacherServlet</servlet-class>
    <init-param>
      <param-name>ScanClassPackage</param-name>
      <param-value>com.itheima.mm.controller</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispacherServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <!--过滤器-->
  <filter>
    <filter-name>CharchaterFilter</filter-name>
    <filter-class>com.itheima.mm.filter.CharchaterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharchaterFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

</web-app>
